<div class="container">
  <div class="my-watches">
    <h1>Liste de mes montres</h1>
    <% @watches.each do |watch| %>
    <ul>
      <div class="col-md-4">
        <%= cl_image_tag watch.model.photo.key, class:"w-100" %>
      </div>
      <li>Marque: <%= watch.brand.name %></li>
      <li>Modèle: <%= watch.model.name %></li>
      <li>Etat: <%= watch.condition_id %></li>
      <li>Livrable: <%= watch.scope_id %></li>
    </ul>
    <div>
     <%= link_to "Prendre RDV", new_watch_booking_path(watch), class: "btn btn-primary" %>
   </div>
   <% end %>
 </div>
 <div class="my-booking">
  <h1>Liste de mes RDV</h1>
  <% @bookings.each do |booking| %>
  <ul>
    <li>Date: <%= booking.date %></li>
    <li>Montre: <%= booking.watch_id %></li>
  </ul>
  <% end %>
</div>
</div>
