<div class="jumbotron jumbotron-fluid">
 <video autoplay="" muted="" loop="">
  <source src="https://storage.coverr.co/videos/Th016ucHQ8ijQH4NOR3dto02K6g00iEgWdk?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6Ijg3NjdFMzIzRjlGQzEzN0E4QTAyIiwiaWF0IjoxNjA5NzEyMDMwfQ.zBx2VC1i2kSFAXAo29h5CnSkML4IY1PGwqoAqL-0668" type="video/mp4">
  </video>
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>

<div class="container">
  <div class="home-top">
    <div class="home-box">

      <div class="home-top-form">
        <h4>Evaluation de votre montre en quelques secondes !</h4>
        <%= simple_form_for [@watch] do |f| %>
        <%= f.label :brand_id, "Selectionnez la Marque" %><br />
        <%= f.collection_select :brand_id, Brand.order(:name), :name, :name, {prompt: "Marque"}, {class: "form-control form-control-lg"} %>
        <br>
        <%= f.label :model_id, "Choisissez le Modèle" %><br />
        <%= f.grouped_collection_select :model_id, Brand.order(:name), :models, :name, :id, :name, {prompt: "Modèle"}, {class: "form-control form-control-lg"} %>
      </div>
      <br>
      <div class="home-top-btn">
        <%#= f.button :submit, "Estimer votre montre", class: "btn btn-primary btn-lg" %>
        <%= link_to "Estimer votre montre", new_watch_path(model_id: 1, brand_id: 29), class: "btn btn-primary btn-lg" %>
        <%#= button_tag "Estimer maintenant", class: "btn btn-primary btn-lg", display: "none" %>
      </div>
      <% end %>

    </div>

  </div>


</div>


