<div class="homehome">

  <div class="JumbotronHome jumbotron jumbotron-fluid">
    <video loop="" autoplay="">
      <source src="https://vod-progressive.akamaized.net/exp=1622864579~acl=%2A%2F1238406149.mp4%2A~hmac=050a0741c14628ac0de526a8c0c4040c67b7ad3540795ff878169255416cb352/vimeo-prod-skyfire-std-us/01/3875/12/319377813/1238406149.mp4" type="video/mp4">
    </video>
    <div class="container jumbotron-home-text">
      <h1 class="display-4">Évaluation gratuite de votre montre en 2 étapes</h1>
      <h3>La vie n’est pas un problème, c’est une solution</h3>
      <div class="my-5">
        <%= link_to "Estimer maintenant >", new_watch_path, class: "btn-flat btn btn-lg"  %>
      </div>
    </div>
  </div>




<div class="group-home mr-5 ml-5">
  <div class="card-group">
    <div data-aos="flip-left" data-aos-duration="1000" class="card mr-2 ml-2">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <img class="card-img-bot" src="https://images.unsplash.com/photo-1472417583565-62e7bdeda490?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1" alt="Card image cap">
    </div>
    <div data-aos="flip-right" data-aos-duration="1000" class="card mr-2 ml-2">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <img class="card-img-bot" src="https://images.unsplash.com/photo-1472417583565-62e7bdeda490?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1" alt="Card image cap">
    </div>
    <div data-aos="flip-left" data-aos-duration="1000" class="card mr-2 ml-2">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <img class="card-img-bot" src="https://images.unsplash.com/photo-1472417583565-62e7bdeda490?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1" alt="Card image cap">
    </div>
    <div data-aos="flip-right" data-aos-duration="1000" class="card mr-2 ml-2">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <img class="card-img-bot" src="https://images.unsplash.com/photo-1472417583565-62e7bdeda490?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1" alt="Card image cap">
    </div>
  </div>
</div>







  <div class='container'>
    <div data-aos="fade-up" data-aos-duration="5000" class="card mb-3 second-bloc">
      <div id='bloc-max-width'>
        <%= cl_image_tag("https://images.unsplash.com/photo-1523170335258-f5ed11844a49?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8", style:"max-width:100%") %>
      </div>
      <div>
        <h2> Laborum irure reprehenderit officia sunt ut. </h2>
          <p> Deserunt magna in ea ea ex occaecat incididunt ullamco ut culpa nisi in laborum anim magna quis nisi elit eiusmod ut anim veniam nulla eiusmod sit pariatur consequat in enim excepteur nostrud anim incididunt. </p>
        <p> Dolor in adipisicing. </p>
      </div>
    </div>
  </div>

  <div class="third-bloc mb-5">
    <div class="third-bloc-child">
      <div data-aos="flip-left" data-aos-duration="1000" class="card">
        <%= image_tag "check.svg", alt: "alttext", :class => "check" %>
        <div class="card-body">
          <h5 class="card-title">Deserunt magna sed cupidatat.</h5>
          <p class="card-text">Eu irure cillum sint in dolore laboris quis pariatur occaecat consequat anim laboris nulla in qui eu est irure incididunt in reprehenderit proident duis nulla eiusmod in proident fugiat irure velit labore quis consequat dolor non.</p>
        </div>
      </div>
      <div data-aos="flip-left" data-aos-duration="1000" class="card">
        <%= image_tag "check.svg", alt: "alttext", :class => "check" %>
        <div class="card-body">
          <h5 class="card-title">Lorem ipsum</h5>
          <p class="card-text">In sint nisi elit mollit mollit ullamco magna in et culpa sunt laborum nisi voluptate fugiat magna officia ullamco do laborum consequat.</p>
        </div>
      </div>
      <div data-aos="flip-left" data-aos-duration="1000" class="card">
        <%= image_tag "check.svg", alt: "alttext", :class => "check" %>
        <div class="card-body">
          <h5 class="card-title">Duis cupidatat aute</h5>
          <p class="card-text">Reprehenderit duis enim enim qui esse irure non nisi commodo dolore eiusmod reprehenderit tempor laborum aliqua ut dolore enim aute nisi dolore eiusmod fugiat minim minim fugiat qui adipisicing sint ullamco magna.</p>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- <video autoplay="" muted="" loop="">
  <source src="https://storage.coverr.co/videos/Th016ucHQ8ijQH4NOR3dto02K6g00iEgWdk?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6Ijg3NjdFMzIzRjlGQzEzN0E4QTAyIiwiaWF0IjoxNjA5NzEyMDMwfQ.zBx2VC1i2kSFAXAo29h5CnSkML4IY1PGwqoAqL-0668" type="video/mp4">
  </video> -->
