<% if current_user %>
<h2>Vous êtes identifié, c'est un plaisir de vous revoir </h2>
<%= simple_form_for @user, url: new_watch_path do |f| %>
<div class="form-input">
  <%= f.input :first_name, label: "Prénom", disabled: true %>
  <%= f.input :email, label: "Email", disabled: true %>
  <%= f.input :phone, label: "Téléphone", disabled: true %>
</div>
<% end %>
<% else %>
<div class="identify">
  <h2>Information complémentaire</h2>

  <div class="form-inputs ">
    <%= form_with url: new_watch_path do |f| %>
    <%= f.text_field :first_name, label: 'Nom' %>
    <%= f.text_field :email, label: 'Email' %>
    <%= f.text_field :phone, as: :text, input_html: {rows: 7 , style: 'width: 100%'}, placeholder: "Votre message..." %>
    <%= f.submit "Envoyer" %>
<% end %>
  </div>

</div>
<% end %>
<br>
