<% if current_user %>
<h2> Bonjour <%= @user.first_name %> c'est un plaisir de vous revoir </h2>
<%= simple_form_for @user, url: new_watch_path do |f| %>
<div class="form-input">
  <%= f.input :first_name, label: "Prénom", disabled: true %>
  <%= f.input :email, label: "Email", disabled: true %>
  <%= f.input :phone, label: "Téléphone", disabled: true %>
</div>
<% end %>
<% else %>
<div class="identify">
  <h2>Information complémentaire requises</h2>
</div>
<% end %>
<br>
<br>
