<div class="container">
  <div class="home-top-form">
    <h4>Evaluation de votre montre en quelques secondes !</h4>
    <%= simple_form_for @watch do |f| %>
    <%= f.label :brand_id, "Selectionnez la Marque" %><br />
    <%= f.collection_select :brand_id, Brand.order(:name), :id, :name, {prompt: "Marque"}, {class: "form-control form-control-lg select-watch-brand"} %>
    <br>
    <%= f.label :model_id, "Choisissez le Modèle" %><br />
    <%= f.grouped_collection_select :model_id, Brand.order(:name), :models, :name, :id, :name, {prompt: "Modèle"}, {class: "form-control form-control-lg select-watch-model"} %>
    <br>
    <%= f.label :condition_id, "Etat de la montre" %><br />
    <%= f.collection_select :condition_id, Condition.order(:id), :id, :name, {prompt: "Etat"}, {class: "form-control form-control-lg"} %>
    <br>
    <%= f.label :scope_id, "Contenu livré" %><br />
    <%= f.collection_select :scope_id, Scope.order(:id), :id, :name, {prompt: "Livrable"}, {class: "form-control form-control-lg"} %>
    <br>
    <br>
    <% if current_user == nil %>
    <%= f.input :temp_first_name, label: "Prénom" %>
    <%= f.input :temp_email, label: "Email" %>
    <%= f.input :temp_phone, label: "Téléphone" %>
    <% end %>
    <br>
    <br>
    <div class="home-top-btn">
      <%= f.button :submit, "Estimer votre montre", class: "btn btn-primary btn-lg" %>
    </div>
    <% end %>
  </div>
  <div class="title-review">
    <%= render 'bookform' %>
  </div>
</div>
